body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: moccasin;
}

.columns {
    display: flex;
    justify-content: space-evenly;
}

.column {
    flex: 1;
    margin: 0 10px;
}

.card {
    background-color: darkcyan;
    padding: 10px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.btndel {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btndel:hover {
    background-color: #c82333;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

p {
    margin-top: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.btn {
    background-color: darkgreen;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(11, 176, 47);
}

input[type="checkbox"].fixed {
    pointer-events: none;
    opacity: 0.5;
}